body {
	
	background: url('fondo2.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	
}

#customers {
     
    border-collapse: collapse;
    width: 65%;
     text-align: center;
      border: 10px solid rgb(231, 76, 60);
	padding: 15px;
	background-color: #f2f2f2;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    border: 10px solid rgb(231, 76, 60);
	padding: 15px;
}

#customers tr:nth-child(even){
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
	}

#customers th {
     padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background: black;
    padding: 15px;
	  border: 10px solid rgb(231, 76, 60);
	color: rgb(251, 252, 252);
	 font-family: 'Calligraffitti', cursive;
}
h1 {
	
	color: rgb(251, 252, 252);
	background: black;
	heigth: 200px;
	padding: 15px;
	  border: 10px solid rgb(231, 76, 60);
        font-family: 'Calligraffitti', cursive;
       width: 50%;
       margin-top: 0px;
       margin-bottom: 50px;
	
}
h2 {
	
	color: rgb(251, 252, 252);
	background: black;
	heigth: 200px;
	padding: 15px;
	  border: 10px solid rgb(231, 76, 60);
       
       width: 50%;
       margin-top: 0px;
       margin-bottom: 50px;
	
}
h4 {
	
	color: black;
	background: white;
	heigth: 200px;
	padding: 15px;
	  border: 10px solid black;
        font-family: 'Calligraffitti', cursive;
       width: 20%;
	
}
div#menu{
    width: 200px;
     position: relative;
     top: 10px;
}

div#menu div#ula{
    list-style: none;
}
div#menu td{
     margin-top: 15px;
     font-family: 'Calligraffitti';
    font-size: 18px;
    background-color:rgb(231, 76, 60);
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 20px 20px 0px;
    padding-left: 20px;
    box-shadow: 5px 0px 10px black;
    -webkit-transition: padding-left 0.6s;
    color: white;
    
}
div#menu td:hover {
    padding-left: 52px;
}
#pie {
	margin-top: 200px;
	background: black;
	color: rgb(247, 249, 249);
	text-align: center;
    margin-bottom: 20px;
}
