<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>controllers.Productos.ProductosControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/productos</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>controllers.Productos.ProductosControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/productos/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>View</servlet-name>
		<servlet-class>controllers.Productos.ProductosControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/productos/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Edit</servlet-name>
		<servlet-class>controllers.Productos.ProductosControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Edit</servlet-name>
		<url-pattern>/productos/edit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>controllers.Productos.ProductosControllerDelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/productos/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersControllerAdd</servlet-name>
		<servlet-class>controllers.User.UsersControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerAdd</servlet-name>
		<url-pattern>/users/add</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>UsersControllerLogin</servlet-name>
		<servlet-class>controllers.User.UsersControllerLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogin</servlet-name>
		<url-pattern>/users/login</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>UsersControllerLogout</servlet-name>
		<servlet-class>controllers.User.UsersControllerLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerLogout</servlet-name>
		<url-pattern>/users/logout</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>UsersControllerIndex</servlet-name>
		<servlet-class>controllers.User.UsersControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerIndex</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>UsersControllerView</servlet-name>
		<servlet-class>controllers.User.UsersControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerView</servlet-name>
		<url-pattern>/users/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>controllers.User.UsersControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/users/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsersControllerDelete</servlet-name>
		<servlet-class>controllers.User.UsersControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerDelete</servlet-name>
		<url-pattern>/users/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsersControllerTest</servlet-name>
		<servlet-class>controllers.User.UsersControllerTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersControllerTest</servlet-name>
		<url-pattern>/users/test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolesControllerAdd</servlet-name>
		<servlet-class>controllers.Roles.RolesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerAdd</servlet-name>
		<url-pattern>/roles/add</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>RolesControllerIndex</servlet-name>
		<servlet-class>controllers.Roles.RolesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerIndex</servlet-name>
		<url-pattern>/roles</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>RolesControllerView</servlet-name>
		<servlet-class>controllers.Roles.RolesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerView</servlet-name>
		<url-pattern>/roles/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>RolesControllerDelete</servlet-name>
		<servlet-class>controllers.Roles.RolesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesControllerDelete</servlet-name>
		<url-pattern>/roles/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditRol</servlet-name>
		<servlet-class>controllers.Roles.RolesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditRol</servlet-name>
		<url-pattern>/roles/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<servlet-class>controllers.Resources.ResourcesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerAdd</servlet-name>
		<url-pattern>/resources/add</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<servlet-class>controllers.Resources.ResourcesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerIndex</servlet-name>
		<url-pattern>/resources</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ResourcesControllerView</servlet-name>
		<servlet-class>controllers.Resources.ResourcesControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerView</servlet-name>
		<url-pattern>/resources/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<servlet-class>controllers.Resources.ResourcesControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerDelete</servlet-name>
		<url-pattern>/resources/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccessControllerAdd</servlet-name>
		<servlet-class>controllers.Access.AccessControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>AccessControllerEdit</servlet-name>
		<servlet-class>controllers.Access.AccessControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerEdit</servlet-name>
		<url-pattern>/access/edit</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>AccessControllerIndex</servlet-name>
		<servlet-class>controllers.Access.AccessControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>AccessControllerView</servlet-name>
		<servlet-class>controllers.Access.AccessControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerView</servlet-name>
		<url-pattern>/access/view</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>AccessControllerDelete</servlet-name>
		<servlet-class>controllers.Access.AccessControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerDelete</servlet-name>
		<url-pattern>/access/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<servlet-class>controllers.Resources.ResourcesControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesControllerEdit</servlet-name>
		<url-pattern>/resources/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BallotsControllerIndex</servlet-name>
		<servlet-class>controller.ballots.BallotsControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BallotsControllerIndex</servlet-name>
		<url-pattern>/ballots</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BallotsControllerAdd</servlet-name>
		<servlet-class>controller.ballots.BallotsControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BallotsControllerAdd</servlet-name>
		<url-pattern>/ballots/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BallotsControllerView</servlet-name>
		<servlet-class>controller.ballots.BallotsControllerView</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BallotsControllerView</servlet-name>
		<url-pattern>/ballots/view</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BallotsControllerEdit</servlet-name>
		<servlet-class>controller.ballots.BallotsControllerEdit</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BallotsControllerEdit</servlet-name>
		<url-pattern>/ballots/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BallotsControllerDelete</servlet-name>
		<servlet-class>controller.ballots.BallotsControllerDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BallotsControllerDelete</servlet-name>
		<url-pattern>/ballots/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BallotsControllerBuy</servlet-name>
		<servlet-class>controller.ballots.BallotsControllerBuy</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BallotsControllerBuy</servlet-name>
		<url-pattern>/ballots/buy</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
